.shcard-wrapper{
  background-color: black;
  width: 25%;
  margin: 1em;
  padding: .5em;
  transition: all .3s ease-in-out;
  border-radius: 5px;
}

.shcard-wrapper:hover{
  transform: scale(1.025);
  box-shadow: 1px 1px 0px #999;
}

.shcard-image{
  width: 100%;
}

.shcard-info{
  color: white;
  text-align: center;
  font-weight: normal;
  text-decoration: none;
  padding: .2em;
}

.shcard-title{
  color: white;
  font-weight: bolder;
  margin-right: .4em;
}

.link{
  text-decoration: none;
}